@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;

}

#container {
    display: inline-block;
    margin-top: 50px;
    margin-left: 250px;
    background-color: black;
    height: 650px;
    width: 450px;
    border-radius:10px;
    position: relative;
}

#display {
    background-color: grey;
    height: 30px;
    width: 80%;
    margin:50px auto 0 auto;
    padding: 25px;
    border-radius: 10px;
    text-align: end;
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
}

#buttonContainer {
    margin-top: 30px;
    padding-left: 19px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: auto;
    grid-template-areas: 
    "clear      percent switch  divide"
    "seven      eight   nine    multiply"
    "four       five    six     subtract"
    "one        two     three   add"
    "decimal    zero    delete  equals";
}

.btn {
    font-size: 30px;
    border-radius: 10px;
    background-color: orange;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.numBtn {
    font-size: 30px;
    border-radius: 10px;
    background-color: orange;
    width: 80px;
    height: 80px;
    margin: 10px;
}